* {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GLOBAL CONFIG */
/* 
@font-face {
  font-family: "Roboto-regular";
  src: url("../public/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../public/font/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../public/font/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../public/font/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../public/font/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../public/font/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("../public/font/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../public/font/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../public/font/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../public/font/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../public/font/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../public/font/Roboto/Roboto-ThinItalic.ttf");
} */

/* KEYFRAMES */

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  35% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  35% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

/* :root {
  font-family: "Roboto-regular", sans-serif;
} */

html,
body {
  height: 100dvh;
  width: 100dvw;

  background-color: rgb(31, 31, 31);
}

.userImage {
  max-width: 124px;

  margin: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 50%;

  opacity: 0;

  animation: 0.7s ease 0.1s forwards zoomIn;
  transition: all 2s;
}

.test-color {
  color: rgb(0, 47, 60);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
